*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Text,.labelEmail,.labelSenha{
    color: white;
}

.Text{
    font-size: 80px;

}
.divTexto{
    padding-bottom: 80px;
}



.fundo{
    width: 100%;
    height: 100vh;
    background-image: url("img/vinilWall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 4.0;
    backdrop-filter: blur(20px);

}

.formulario{
    width:40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 2%;
    backdrop-filter: blur(20px);
    background-color: transparent;
    border: 4px solid rgb(255, 255, 255);
    align-items: center;
    padding-top: 100px; 
}

.seguradoraInput{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    padding-bottom: 250px;
}

.inputEmail,.inputPassword{
    position: relative;
    height: 60px;
    width: 80%;
    border-bottom: 2px solid #efefef;
    display: flex;
    flex-direction: column;

}


.input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    margin-top: -20px;

}

.icons{
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: -15px;
    color: aliceblue;

   
}

.tamhoIMG{
    width: 30px;
    height: 30px;
}