*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -maz-osx-font-smoothing: grayscale;
    background-color: #2f2e2e
}


.img{
    /* background-image: url('https://i.pinimg.com/736x/1b/27/01/1b27012b4cc3209cb178ee931949564b.jpg'); */
    /* background-image: url('img/Leonardo_Diffusion_a_lot_of_guitars_drums_and_sax_in_the_gree_0.jpg'); */
    background-image: url('img/Leonardo_Diffusion_create_an_image_of_Zeus_tocando_violino_com_1.jpg');
   
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.opacity{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top,black 10%,transparent 90% );
    background-color: black;
    opacity: 0.9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 300px;
    
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.form1{
    display: flex;
    gap: 40px;
    padding-right: 100px;
    background-color: #000000;
}
.text{
    padding-left: 20px;
    background-color: #000000;
    color: #28eaea;
}

h1,button{
    background-color: #000000;
}

.textoBody{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 1;
    color: #2fbcbc;
    padding-top: 70px;
    
}

.textoBody2{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 1;
    color: #28eaea;
    padding-top: 70px;
    
}


.degrade-vertical{
 width: 100%;
 height: 70%;
background-color: #000000;
padding: 8%;
color: #eaeded;
display: flex;
gap: 50%;
margin-bottom: 30px;
}


.textoBody3{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    opacity: 1;
    color: #eaeded;
    padding-top: 10px;
    
}

.divTopicos{
    margin-top: 40px;
    margin-right: 40px
}

.iconImg{
width: 100%;
height: 100%;
background-color: #000000;
}

.divic{
display: flex;
background-color: #000000;
align-items: center;
gap: 12px;


}

.diviconn{
    width: 30px;
    height: 30px;
}

.conteudoTopicos{
    background-color: black;
}

.imgg{
    width: 300px;
    height: 300px;
    background-size: cover;
}
.palyerMusic{
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    margin-bottom: 30px;

    
}

.tempo{
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
}

.botoês{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.descrição{
    width: 300px;
}

.barrinha{
   width: 300px;
   height: 7px;
   border: 1px solid #eee;
   border-radius: 5px;
   display: flex;
   margin-bottom: 12px;
}

progress{
    height: 6px;
    width: 50%;
    border-radius: 5px;
}














